.container_footer{
    height: 230px;
    padding-top: 50px;
    
}
.client-list {
    
    
  
    &__heading {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      gap: 60px;
      margin-bottom: 40px; 
      
      
    }
    &__color {
      fill: rgba(175, 177, 184, 1);
      &:hover svg {
        fill: var(--praimary-color);
        border-color: var(--praimary-color);
      }
      
    }
    &__svg {
      width: 300px;
      height: 120px;
      background-color: white;
      padding: 1px;
      border: solid 1px rgba(175, 177, 184, 1);
      border-radius: 4px 4px 4px 4px;
      cursor: pointer;
      transition: var(--transition-duration) var(--cubic-bezier);
      
    }
    &__imgPZU{
      width: 120px;
    height: 115px;
    display: flex;
    margin: auto;
      
    }
    &__imgESA{
      width: 222px;
    display: flex;
    margin: auto;
      
    }
    &__imgPEK{
      width: 222px;
    display: flex;
    margin: auto;
      
    }
  }