@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  color: var(--secondary-color);
  border: none;
  margin: 0;
  overflow-x: hidden;
  border-radius: 1px;
}

.PZU {
  background: #0575E6; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ESA {
  background: #4b6cb7; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.PEK {
  background: #ED213A; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html, body {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.d-none {
  display: none;
}

a {
  text-decoration: none;
}

:root {
  --praimary-color: rgb(243,146,0);
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
  --fourthary-color: #f5f4fa;
  --fifthary-color: #757575;
  --sixthary-color: #212121;
  --seventhary-color: #afb1b8;
  --eighthary-color: #2f303a;
  --work-section-bacground: rgba(47, 48, 58, 0.8);
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  position: relative;
  display: flex;
  justify-items: center;
  background-color: white;
  /* Kontener dla pola wyszukiwania */
  /* Pole wyszukiwania */
  /* Przycisk wyszukiwania */
  /* Ikona wewnątrz przycisku wyszukiwania */
  /* Stylowanie przycisku podczas najechania */
}
.header__user {
  margin: 20px;
  margin-right: 15%;
  margin-left: 10%;
  text-align: center;
  font-size: medium;
  font-size: 19px;
}
.header__user--svg {
  height: 80px;
  width: 80px;
  background-color: gray;
  padding: 8px;
  border-radius: 100%;
}
.header__user--svg:hover {
  background-color: rgb(221, 214, 214);
  transition: fill 0.3s ease;
  cursor: pointer;
}
.header .profil {
  font-size: 20px;
  color: black;
}
.header .alert-button {
  margin: 40px 10px 0 0px;
}
.header .alert-button__trigger {
  background-color: transparent;
  border: none;
}
.header .alert-button__svg {
  width: 40px;
  height: 40px;
}
.header .alert-button__svg:hover {
  transition: fill 0.3s ease;
  cursor: pointer;
  fill: #f00f40;
  transform: scale(1.5);
}
.header .search-container {
  position: relative;
  display: inline-block;
  margin-top: 40px;
}
.header .search-input {
  padding: 12px 400px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}
.header .search-button {
  position: absolute;
  right: 0;
  padding: 1px 23px;
  border: none;
  background-color: #7a7c7e;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header .search-button i {
  font-size: 18px;
}
.header .search-button:hover {
  background-color: #c4c4c4;
}
.header .magnifier {
  width: 22px;
  height: 39px;
}
.header .logo {
  margin-left: 15%;
}
.header .logo__size {
  width: 120px;
  height: 120px;
}
.header .logo__sizeESA {
  width: 200px;
  height: 120px;
}
.header .logo__PEK {
  width: 200px;
  height: 120px;
}

/* Style nakładki */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Przezroczystość tła */
  z-index: 1000;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: -11px;
  right: 10px;
  cursor: pointer;
  font-size: 40px;
}

/* Styl ukrycia nakładki */
.hidden {
  display: none;
}

.container {
  margin-bottom: 60px;
}

.box_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 94px;
  padding: 0;
}

.news-box {
  width: calc(33% - 20px);
  background-color: #ffffff;
  padding: 100px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: left;
}
.news-box:hover {
  transition: fill 0.3s ease;
  cursor: pointer;
}

.boxtitle {
  text-align: center;
  color: white;
  font-size: 65px;
}

.news-box h2 {
  font-size: 18px;
  margin-top: 0;
}

.news-box p {
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 768px) {
  .news-box {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 480px) {
  .news-box {
    width: calc(100% - 20px);
  }
}
.knowledge-base {
  text-align: center;
  background-color: aliceblue;
  width: 80%;
  margin: 0 auto;
  border-radius: 4%;
}

.knowledge-base ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.knowledge-base li {
  margin-bottom: 10px;
}

.knowledge-base li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.knowledge-base li ul {
  display: none;
  margin-left: 20px;
}

.knowledge-base li:hover ul {
  display: block;
}

.container_footer {
  height: 230px;
  padding-top: 50px;
}

.client-list__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.client-list__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 60px;
  margin-bottom: 40px;
}
.client-list__color {
  fill: rgb(175, 177, 184);
}
.client-list__color:hover svg {
  fill: var(--praimary-color);
  border-color: var(--praimary-color);
}
.client-list__svg {
  width: 300px;
  height: 120px;
  background-color: white;
  padding: 1px;
  border: solid 1px rgb(175, 177, 184);
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  transition: var(--transition-duration) var(--cubic-bezier);
}
.client-list__imgPZU {
  width: 120px;
  height: 115px;
  display: flex;
  margin: auto;
}
.client-list__imgESA {
  width: 222px;
  display: flex;
  margin: auto;
}
.client-list__imgPEK {
  width: 222px;
  display: flex;
  margin: auto;
}/*# sourceMappingURL=main.css.map */